<ion-view view-title="Bancos Solidários">
  <ion-content style="background-color:#282c5c; ">

    <div id="Gallery" data-ix="slide-up-section" class="content-section midnight-blue-2">
      <div class="content-wrapper w-container">
        <div class="header-box">
          <div class="mini-title">{{"GALLERY_TITLE" | translate}}</div>
          <h2>{{"GALLERY_TITLE" | translate}}</h2>
          <div class="underline crimson"></div>
          <div class="paragraph-box _80-percent-centered">
            <!--<p>Etiam tristique, metus pretium rutrum elementum, risus tortor euismod urna, porta felis felis vel dui in bibendum justo vel pellentesque accumsan.</p> -->
          </div>
        </div>
        <div class="content-box" compile="code"></div>
      </div>
    </div>


  </ion-content>
</ion-view>
